<div class="row-fluid">
	<!-- column 1 - resource pane -->
	<div class="sideBar">
		<div class="pane" id="resources">
			<h2>Resources</h2>
			<div>
				<!--<button class="btn" data-ng-click="openResourceDialog()">add a resource</button>-->
                <button href="#resource-modal" type="button" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" data-toggle="modal">
                    <span class="navTextMiddle"> Add A Resource...</span>
                </button>
			</div>


            <div data-ng-repeat="tab in tabs">
                    <button  ng-click="changeTab(tab.title)"  class="sideBtnSize btn">
                        {{tab.title}}
                    </button>
                <div  ng-cloak ng-show="tab.currentCategory">
                    <ol id="resource-list" >
                        <li ng-if="resource.type == tab.title" data-ng-repeat="resource in resources">
                            <a class="{{ resource.className }}" href="#/resource/{{ resource.id }}">{{ resource.name }}</a>
                        </li>
                    </ol>
                </div>
            </div>


			<h2>available tags</h2>

			<div>
				<button class="btn" href="#vocab-modal" data-toggle="modal">Load A Vocabulary</button>
			</div>

			<div id="current-tags">
                <span data-ng-repeat="(key, tag) in vocabulary"> {{ tag }} </span>
			</div>

            <h2>Current Tags:</h2>
				<span data-ng-repeat="(key, tag) in currentResource.tags">
					{{ tag }}
				</span>
		</div>
	</div>

	<!-- column 2 - media, info and vocabulary panes -->
		<div class="row-fluid   pictureInfoLocation">
				<div class="pane" id="media-pane">
					<h2>media - {{ currentResource.fileName }}</h2>
					<div data-ng-switch on="currentResource.mediaType">
						<div ng-switch-when="video">
                            <div ng-include="'/CustomOntologue/partials/_media_video.html'"></div>
						</div>
						<div ng-switch-when="audio">
                            <div ng-include="'/CustomOntologue/partials/_media_audio.html'"></div>
						</div>
						<div ng-switch-when="image">
                            <div ng-include="'/CustomOntologue/partials/_media_image.html'"></div>
						</div>
					</div>
		</div>

		<div class="row-fluid">
			<div class="span5">
				<div class="pane" id="information"> 
					<h2>information</h2>
					<ul>
						<li><span class="resource-property">id:</span> {{ currentResource.id }} </li>
                        <li><span class="resource-property">type:</span> {{ currentResource.type }} </li>
						<li><span class="resource-property">name:</span> {{ currentResource.name }}</li>
						<li><span class="resource-property">date:</span> {{ currentResource.date }}</li>
						<li><span class="resource-property">file name:</span> {{ currentResource.fileName }}</li>
						<li><span class="resource-property">uri:</span> {{ currentResource.uri }} </li>
						<li><span class="resource-property">media type:</span> {{ currentResource.mediaType }} </li>
						<li><span class="resource-property">upload date:</span> {{ currentResource.uploadDate }} </li>
						<li><span class="resource-property">last edit date:</span> {{ currentResource.editDate }} </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div><!-- .row -->

<div id="resource-modal" class="modal hide fade" tabindex="-1" role="dialog">
	<div class="modal-header">
		<h1>Add a Resource</h1>
	</div>
	<div class="modal-body" ng-controller="ResourceAddCtrl">
		<form>
			<input type="text" required placeholder="Name" data-ng-model="resource.name"> 
			<input type="url" name="website" required pattern="https?://.+" placeholder="URI" data-ng-model="resource.uri"> 
			<input id="autocomplete-tags" type="text" placeholder="Tags" data-ng-model="resource.tags" ui-autocomplete="autocompleteOptions"/>
		</form>
		<button data-ng-click="addResource()" class="btn btn-primary" >Add</button>
	</div>
</div>

<div id="vocab-modal" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <h1>Load Vocabulary</h1>
    </div>
    <div class="modal-body">
        <form>
            <input type="checkbox" ng-model="setLoadVocab">
            <span>{{orgVoc}}</span>
            <input type="checkbox" ng-model="setLoadVocabAnimal">
            <span>Animal</span>
        </form>
        <button data-ng-click="loadVocab()" class="btn btn-primary" >Load Vocabulary</button>
    </div>
</div>
